.wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 20px auto;

    label {
      margin-top: 20px;
    }
    input {
      height: 45px;
      border-radius: 6px;
    }
    
    ul {
      margin: 0;
      margin-top: 20px;
      padding: 0;
    }
  }
}
